extends ../layout/index
block content
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imágen de Nosotros")
            .col-md-7
                h1= page
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias in minus quaerat numquam esse ut adipisci distinctio commodi nesciunt voluptate repudiandae veritatis aperiam accusantium explicabo sapiente, vel odio consectetur quisquam.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque cupiditate doloribus facilis, labore dolore assumenda dolorem sint dicta provident, magnam sunt. Quaerat numquam consectetur mollitia autem minus dicta cumque omnis.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore praesentium cumque, exercitationem minus tenetur qui facilis fugit. Molestias quaerat recusandae facilis, magnam, suscipit doloribus unde possimus, dicta nulla reprehenderit asperiores!
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi pariatur quod culpa dicta unde adipisci labore esse ad natus. Maiores voluptate rem modi sit autem natus corrupti repellendus numquam maxime.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus reprehenderit molestiae expedita doloremque iusto obcaecati mollitia nemo corrupti fugiat ipsam, magni corporis excepturi animi provident error sapiente, sint vel repellendus.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, illum sapiente. Quo doloremque enim adipisci placeat distinctio rerum nihil officiis omnis, unde, consequuntur labore inventore? Sequi quisquam amet quo iure.